@import '../../utils/mixins.scss';

.profile {
  // display: none;
  background-color: rgba(148, 91, 148, 0.404);
  border-radius: 20px;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow 300ms ease;
  &:hover,
  &:focus {
    box-shadow: 6px 6px 16px 3px rgba(0, 0, 0, 0.75);
  }
}
.description {
  @include flexCentered(column);
  gap: 12px;
  width: 320px;
  padding: 40px 0;
}
.avatar {
  width: 180px;
  border-radius: 50%;
  background-color: lightgray;
}
.name {
  margin-top: 20px;
  font-weight: 700;
  font-size: 32px;
}
.tag {
  font-size: 20px;
}
.location {
  margin-top: 20px;
  font-weight: 500;
  font-size: 24px;
}
.stats {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  background-color: rgb(145, 145, 153);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  & li {
    position: relative;
    @include flexCentered(column);
    gap: 4px;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      height: 100%;
      right: -28px;
      border-right: 2px solid grey;
    }
  }
}
.label {
  padding-top: 12px;
  font-size: 18px;
}
.quantity {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 12px;
}
